<ion-header *ngIf="todo">

  <ion-navbar>
    <ion-title>{{todo.text}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="todo">
  <ion-card>
    <ion-card-header>
      {{todo.text}}
    </ion-card-header>
    <ion-card-content>
      {{todo.body}}
      <hr>
      Due On {{todo.due}}
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="onEditClick()">Edit</button>
  <button ion-button block color="danger" (click)="onDeleteClick()">Delete</button>
</ion-content>
